*{
    box-sizing: border-box;
  }
  div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
   section{
     border: 1px solid #ccc;
     min-height: 200px;
     width: 33%;
   }
  img{
    max- width: 100%;
  }
  @media(max-widht: 960px){
    section{   
    width: 50%;
   }
  
  }
  @media(max-widht: 600px){
    section{
      width: 100%;
      
    }
  }
  img{
    max-width: 120px; 
  }
  h1{
    color: purple
  }